
.vs/TechApp2/v15/Server/sqlite3/db.lock

.vs/TechApp2/v15/Server/sqlite3/

TechApp2/TechApp2.Android/obj/Debug/90/android/assets/machine.config

TechApp2/TechApp2.Android/obj/Debug/90/android/src/mono/android/app/ApplicationRegistration.java

TechApp2/TechApp2.Android/obj/Debug/90/lp/27/jl/bin/R.txt

TechApp2/TechApp2.Android/obj/Debug/90/lp/27/jl/

TechApp2/TechApp2.Android/obj/Debug/90/res/values/styles.xml
